<!-- =======================
JS libraries, plugins and custom scripts -->

	<!-- Bootstrap JS -->
	<script src="/frontend/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Vendors -->
	<script src="/frontend/assets/vendor/tiny-slider/dist/tiny-slider.js"></script>
	<script src="/frontend/assets/vendor/OverlayScrollbars-master/js/OverlayScrollbars.min.js"></script>
	<script src="/frontend/assets/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
	<script src="/frontend/assets/vendor/glightbox-master/dist/js/glightbox.min.js"></script>
	<script src="/frontend/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
	<script src="/frontend/assets/vendor/plyr/plyr.js"></script>
	<script src="/frontend/assets/vendor/dropzone/dist/min/dropzone.min.js"></script>
	<!-- Axios -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/hls.js/latest/hls.js"></script>

	<!-- Template Functions -->
	<script src="/frontend/assets/js/functions.js"></script>


	<script>

		// $(document).ready(function(){

		// 	var video = document.querySelector('.player-wrapper');

		// 	if (Hls.isSupported()) {
		// 		var hls = new Hls();
		// 		hls.loadSource('https://content.jwplatform.com/manifests/vM7nH0Kl.m3u8');
		// 		hls.attachMedia(video);
		// 		hls.on(Hls.Events.MANIFEST_PARSED,function() {
		// 		video.play();
		// 		});
		// 	}
			
		// 	plyr.setup(video);
		// })
	
	</script>
	
</body>

</html>