<%
  if(typeof app_user != "undefined" && app_user !=''){
%>
<%-include('layouts/header',{app_user:app_user}) -%>
<%
  }else
  { 
%>
<%-include('layouts/header') -%>
<%
  }
%>

<main>
    <!-- Container START -->
    <div class="container">
        <div class="row">
            <!-- Main content START -->
            <div class="col-lg-12">
          <!-- Privacy & terms START -->
          <div class="">
            <div class="card-header">
              <center><h1 class="card-title h4 mb-0">Terms & Conditions</h1></center>
            </div>
            <div class="card-body">


              <ul>
                <li>Welcome to Talent Kash (the “Platform”). The Platform is provided and controlled by Talent Kash Pvt. Ltd., with its registered address at CCA/27 second floor DHA phase 5 Lahore.</li>
                <li>We are committed to protecting and respecting your privacy. This policy explains our practices concerning the personal data we collect from you, or that you provide to us. If you do not agree with this policy, you should not use the Platform.</li>
                <li>This notice describes the personal data we collect, how it’s used and shared, and your choices regarding this data. We recommend that you read this along with our privacy overview, which highlights key points about our privacy practices</li>
                <li>Talent men wicket add garden. </li>
              </ul>

              <h6>The types of personal data we use:</h6>
              <p>We collect and use the following information about you:</p>

              <h6>Your Profile Information.</h6>
              <p>You give us information when you register on the Platform, including your username, password, date of birth (where  applicable), email address and/or telephone number, information you disclose in your user profile, and your photograph or  profile video.</p>


              <h6>User Content and Behavioral Information</h6>
              <ul>
                <li>We process the content you generate and view on the Platform, including preferences you set (such as choice of  language) photographs, audios and videos you upload or create, comments and live streams you make (“User Content”).</li>
                <li>We collect User Content through pre-loading at the time of creation, import, or upload, regardless of whether you choose to save or upload that User Content, in order to recommend audio options and provide other personalized recommendations. If you apply an effect to your User Content, we may collect a version of your User Content that does not include the effect. </li>
                <li>We may collect information about the images and audio that are a part of your User Content, such as identifying the  objects and scenery that appear, the existence and location within an image of face and body features and attributes, the nature of the audio, and the text of the words spoken in your User Content.</li>
                <li>We may collect this information to enable special video effects, for content moderation, for demographic classification, for content and ad recommendations, and for other nonpersonally- identifying operations. We may access  content, including text, images, and video, found in your device’s clipboard, with your permission</li>
                <li>For example, if you choose to initiate content sharing with a third- party platform, or choose to paste content from the clipboard into the Talent Kash App, we access this information stored in your clipboard in order to fulfill your request. We collect information through surveys, challenges and competitions in which you participate. We also collect information regarding your use of the Platform, e.g., how you engage with the Platform, including how you interact with  content we show to you, the ads you view, videos you watch and problems encountered, the content you like, the content you save to ‘My Favourites’, the users you follow and how you engage with mutual followers. We also infer your  preferences, including your interests, gender and age for the purpose of personalising content. We process information about your followers, the likes you receive and responses to content you upload, for the purposes of promoting your content to other users and exploring whether your profile presents further opportunities for collaboration. Where  appropriate, we will also use this information for the purpose of serving personalised advertising and to tell you about new services and opportunities.</li>
              </ul>


              <h6>Information from Third Parties</h6>
              <p>You may choose to share certain data with us from third parties or through your use of the Platform, we may collect such third party data automatically. We have set out further detail on the information we receive from third parties below:</p>


              <h6>Business Partners</h6>
              <p>If you choose to register or use the Platform using a third-party social network account details (e.g., Facebook, Twitter, Instagram, Google) or login service, you will provide us or allow to provide us with your username, public profile, and other possible information related to such account. We will likewise share certain information with your social network such as your app ID, access token and the referring URL. For further information on sharing your Facebook contact list with us. </p>


              <h6>Technical Information we collect about you</h6>
              <p>We collect certain information about the device you use to access the Platform, such as your IP address, user agent, mobile carrier, time zone settings, identifiers for advertising
                purposes, model of your device, the device system, network type, device IDs, your
                screen resolution and operating system, app and file names and types, keystroke patterns
                or rhythms, battery state, audio settings and connected audio devices. Where you log-in
                from multiple devices, we will be able to use your profile information to identify your
                activity across devices. We may also associate you with information collected from
                devices other than those you use to log-in to the Platform.</p>


              <h6>Location</h6>
              <p>We collect information about your approximate location, including location information
                based on your SIM card and/or IP address. With your permission, we may also collect
                precise location data (such as GPS).
                </p>


              <h6>Find other users and invite your friends</h6>
              <p>You can choose whether to find other users of the Platform using our 'Find Friends' function.
                This functionality allows you to see which of your friends from either your telephone's
                contact list or Facebook friends list is using the Platform and offers you the option to follow
                them. You can also use this function to invite your contacts to join you on the Platform. We
                will use the contact information you have for that person, either from within your
                telephone's contact list or Facebook friends list and give you the option to send them either
                an SMS, email or third party message (such as Whatsapp, Facebook (including Facebook
                Messenger) or Twitter) inviting them to view your Talent Kash profile</p>

              <h6>In-App purchases</h6>
              <p>If you reside in certain jurisdictions that offer in-app coin purchases, please note the
                provisions of our Virtual Items Policy. Your purchase will be made via your Apple
                iTunes or Google Play account. We do not collect any financial or billing information
                from you in relation to such a transaction. Please review the relevant app store's terms
                and notices in respect of the handling of such data. So that we can credit your account
                with the correct value in coins, we keep a record of the purchases you make, the time at
                which you make those purchases and the amount spent. In addition to in-app coin
                purchases, if you choose to make other payment related transactions the Platform may
                collect payment information, including payment card numbers or other third-party
                payment information (such as jazz cash, bank transfer) where required for the purpose of
                payment.</p>

              <h6>Proof of your identity or age</h6>
              <p>We sometimes ask you to provide proof of identity or age in order to use certain
                features, such as livestream or verified accounts, or when you apply for a Pro Account,
                ensure that you are old enough to use the Platform, or in other instances where
                verification may be required.</p>

              <h6>Where we store your personal data?</h6>
              <p>The personal data we collect from you may be stored on a server located in pakistan,
                outside of the country where you live. We maintain major servers around the world to
                bring you our services globally and continuously.
                </p>


              <h6>Your rights and preferences</h6>
              <p>You can access and edit most of your profile information by signing into Talent Kash.
                You can delete the User Content you uploaded. We also provide a number of tools in
                Settings that allow you to control, among others, who can view your videos, send you
                messages, or post comments to your videos. Should you choose to do so, you may delete
                your entire account in Settings. You may also be afforded certain rights under applicable
                laws, which may include the right to access, delete, update, or rectify your data, to be
                informed of the processing of your data, to file complaints with authorities, and
                potentially other rights</p>

              <h6>The security of your personal data</h6>
              <p>We take steps to ensure that your information is treated securely and in accordance with
                this policy. Unfortunately, the transmission of information via the internet is not
                completely secure. Although we will protect your personal data, for example, by
                encryption, we cannot guarantee the security of your information transmitted via the
                Platform; any transmission is at your own risk.
                We have appropriate technical and organizational measures to ensure a level of security
                appropriate to the risk of varying likelihood and severity for the rights and freedoms of
                you and other users. We maintain these technical and organizational measures and will
                amend them from time to time to improve the overall security of our systems.</p>


              <h6>Complaints</h6>
              <p>In the event that you wish to make a complaint about how we process your personal data,
                you may contact us immediately. We will endeavour to deal with your request as soon as
                possible. This is without prejudice to your right to launch a claim with the relevant data
                protection authority.</p>


  
              
  
             
  
          </div>
          <!-- Privacy & terms END -->
        </div>
      </div> <!-- Row END -->
    </div>
    <!-- Container END -->
</main>

<!-- **************** MAIN CONTENT END **************** -->
<% if(app_user == 1){ } else { %> 
<!-- footer START -->
<footer class="bg-mode py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <!-- Footer nav START -->
          <ul class="nav lh-1">
            <li class="nav-item">
              <a class="nav-link" href="/about-us">About</a>
            </li>
       
            <li class="nav-item">
              <a class="nav-link" href="/terms-and-conditions">Terms &amp; Conditions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/privacy-policy">Privacy Policy</a>
            </li>
          </ul>
          <!-- Footer nav START -->
        </div>
        <div class="col-lg-6 ">
          <!-- Copyright START -->
          <p class="text-end mb-0">©2022 <a class="text-body" target="_blank" href="/">Talent Kash. </a>All rights reserved.</p>
          <!-- Copyright END -->
        </div>
      </div>
    </div>
  </footer>
  <% } %>
  <!-- footer END -->
  
  
  <%-include('layouts/footer') -%>