<%-include('layouts/header') -%>
<!-- **************** MAIN CONTENT START **************** -->
<main> 

    <!-- Container START -->
    <div class="container-fluid">
  
      <!-- Sidenav START -->
      
      <nav class="navbar navbar-expand-lg mx-0 navbar-vertical"> 
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
          <!-- Offcanvas header -->
          <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <!-- Offcanvas body -->
          <div class="offcanvas-body d-block px-2 px-lg-0 ">
            <!-- Card START -->
            <div class="card overflow-hidden">
              <!-- Cover image -->
             
                <!-- Card body START -->
                <div class="card-body pt-15px">
                  <div class="text-ali">
                

                <!-- Divider -->
                

                <!-- Side Nav START -->
                <ul class="nav nav-link-secondary flex-column fw-bold gap-2 nav_items">
                  <li class="nav-item">
                    <a class="nav-foryou" href="my-profile.html"> <svg xmlns="http://www.w3.org/2000/svg" width="25"
                      height="25" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                      <path fill-rule="evenodd"
                        d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                    </svg><span class="d-lg-block d-none d-md-none" style="margin: 0px 0px 0px 8px; line-height: 25px;">For You </span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-following" href="my-profile.html"> <svg xmlns="http://www.w3.org/2000/svg"
                      width="25" height="25" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                      <path
                        d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                    </svg><span class="d-lg-block d-none" style="margin: 0px 0px 0px 8px; line-height: 25px;">Following </span></a>
                  </li>
                  <p class="p-class col-md-block d-none"> Login Here to like vedios, and see comments</p>
                  <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary log_btn d-lg-block d-none d-md-none" type="button">Login</button>
                  </div>
                </ul>
                <!-- Side Nav END -->
             
              <!-- Card body END -->
              <!-- Card footer -->
              <hr>
              <p class="suggest_account d-lg-block d-none d-md-none ">suggested accounts</p>
              <!-- Connection item START -->
              <div class="hstack gap-2 mb-3 mb-3">
                <!-- Avatar -->
                <div class="avatar">
                  <a href="#!"><img class="avatar-img rounded-circle" src="/frontend/assets/images/avatar/04.jpg" alt=""></a>
                </div>
                <!-- Title -->
                <div class="overflow-hidden d-lg-block d-none ">
                  <a class="h6 mb-0" href="#!">Judy Nguyen </a>
                  <p class="mb-0 small text-truncate">News anchor</p>
                </div>
                <!-- Button -->
              </div>
              <!-- Connection item END -->
              <!-- Connection item START -->
              <div class="hstack gap-2 mb-3">
                <!-- Avatar -->
                <div class="avatar">
                  <a href="#!"><img class="avatar-img rounded-circle" src="/frontend/assets/images/avatar/04.jpg" alt=""></a>
                </div>
                <!-- Title -->
                <div class="overflow-hidden d-lg-block d-none">
                  <a class="h6 mb-0" href="#!">Judy Nguyen </a>
                  <p class="mb-0 small text-truncate">News anchor</p>
                </div>
                <!-- Button -->
              </div>
              <!-- Connection item END -->
              <!-- Connection item START -->
              <div class="hstack gap-2 mb-3">
                <!-- Avatar -->
                <div class="avatar">
                  <a href="#!"><img class="avatar-img rounded-circle" src="/frontend/assets/images/avatar/04.jpg" alt=""></a>
                </div>
                <!-- Title -->
                <div class="overflow-hidden d-lg-block d-none">
                  <a class="h6 mb-0" href="#!">Judy Nguyen </a>
                  <p class="mb-0 small text-truncate">News anchor</p>
                </div>
                <!-- Button -->
              </div>
              <!-- Connection item END -->
              <!-- Connection item START -->
              <div class="hstack gap-2 mb-3">
                <!-- Avatar -->
                <div class="avatar">
                  <a href="#!"><img class="avatar-img rounded-circle" src="/frontend/assets/images/avatar/04.jpg" alt=""></a>
                </div>
                <!-- Title -->
                <div class="overflow-hidden d-lg-block d-none">
                  <a class="h6 mb-0" href="#!">Judy Nguyen </a>
                  <p class="mb-0 small text-truncate">News anchor</p>
                </div>
                <!-- Button -->
              </div>
              <!-- Connection item END -->
              <!-- Connection item START -->
              <div class="hstack gap-2 mb-3">
                <!-- Avatar -->
                <div class="avatar">
                  <a href="#!"><img class="avatar-img rounded-circle" src="/frontend/assets/images/avatar/04.jpg" alt=""></a>
                </div>
                <!-- Title -->
                <div class="overflow-hidden d-lg-block d-none">
                  <a class="h6 mb-0" href="#!">Judy Nguyen </a>
                  <p class="mb-0 small text-truncate">News anchor</p>
                </div>
                <!-- Button -->
              </div>
              <!-- Connection item END -->
              <!-- Connection item START -->
              <div class="hstack gap-2 mb-3">
                <!-- Avatar -->

                <!-- Title -->
               
                <!-- Button -->
              </div>
              <!-- Connection item END -->
              <p class="d-lg-block d-none d-md-none">See All</p>
               <hr>
              <p class="d-lg-block d-none d-md-none">Discovery</p>
              
              
            </div>
              </div>
            </div>
            <!-- Card END -->

            <!-- Helper link START -->
            <ul class="nav small mt-4  justify-content-start lh-1 d-lg-flex d-none d-md-none" ">
              <li class="nav-item">
                <a class="nav-link" href="my-profile-about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="settings.html">Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://support.webestica.com/login">Support </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="docs/index.html">Docs </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="help.html">Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="privacy-and-terms.html">Privacy & terms</a>
              </li>
            </ul>
            <!-- Helper link END -->
            <!-- Copyright -->
            <p class="small text-center mt-1 d  d-lg-block d-none d-md-none">©2022 <a class="text-body" target="_blank" href="https://www.webestica.com/"> Webestica </a></p>
          </div>
        </div>
      </nav>
      <!-- Sidenav END -->
  
      <!-- Main content START -->
      <div class="page-content">
          
        <!-- Official trailer START -->
        <div class="row g-0 mb-4">
          <div class="col-xl-8 col-xxl-9">
            <!-- Video START -->
            <div class="card card-body p-0 rounded-end-lg-0 position-relative h-100">
              <!-- Video image -->
              <div class="card-image">
                <div class="overflow-hidden fullscreen-video w-100">
                  <!-- HTML video START -->
                  <div class="player-wrapper card-img-top overflow-hidden">
                    <video class="player-html" controls crossorigin="anonymous" poster="frontend/assets/images/videos/poster.jpg">
                      <source src="/frontend/assets/images/videos/video-feed.mp4" type="video/mp4">
                    </video>
                  </div>
                  <!-- HTML video END -->
                </div>
              </div>
              <!-- Video info -->
              <div class="card-body">
                <div class="d-xxl-flex justify-content-between mb-3">
                  <div class="mb-2 mb-xxl-0">
                    <!-- Video title  -->
                    <h4> New movie trailers (2021 - 2022) September </h4>
                    <div class="d-flex mt-3 align-items-center">
                      <!-- Avatar -->
                      <div class="avatar me-2">
                        <img class="avatar-img rounded-circle" src="/frontend/assets/images/avatar/01.jpg" alt="">
                      </div>
                      <!-- Avatar name -->
                      <div>
                        <h6 class="mb-0"> <a href="#!"> Frances Guerrero </a> </h6>
                        <nav class="nav nav-divider small">
                          <span class="nav-item">145.2K views</span>
                          <span class="nav-item">12 dec, 2022</span>
                        </nav>
                      </div>
                      
                        <div class="d-grid gap-2 d-md-block ms-5">
                            <button class="btn btn-primary log_btn d-lg-block d-none d-md-none" type="button">Follow</button>
                        </div>
                     
                    </div>
                  </div>
                  <!-- Interested button -->
                  <div class="d-flex align-items-start">
                    <div class="dropdown">
                      <a class="nav-link mb-0" href="#" id="cardShareAction" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-reply-fill flip-horizontal ps-1"></i>Share (3)
                      </a>
                      <!-- Dropdown menu -->
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction">
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Send via Direct Message</a></li>
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark </a></li>
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-2"></i>Copy link to post</a></li>
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-2"></i>Share post via …</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Share to News Feed</a></li>
                      </ul>
                    </div>
                    <div class="btn-group ms-2" role="group" aria-label="Basic radio toggle button group">
                      <!-- Yes button -->
                      <input type="radio" class="btn-check" name="article1" id="articleup1">
                      <label class="btn btn-outline-light btn-sm mb-0" for="articleup1"><i class="fa-solid fa-thumbs-up me-1"></i> 457</label>
                      <!-- No button -->
                      <input type="radio" class="btn-check" name="article1" id="articledown1" checked="">
                      <label class="btn btn-outline-light btn-sm mb-0" for="articledown1"> 01 <i class="fa-solid fa-thumbs-down ms-1"></i></label>
                    </div>
                  </div>
                </div>
                <p>He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to. Place voice no arises along to. Parlors waiting so against me no. Wishing calling is warrant settled was lucky. Express besides it present if at an opinion visitor. </p>
              </div>
            </div>
            <!-- Video END -->
          </div>
          <div class="col-xl-4 col-xxl-3">
            <div class="card rounded-start-lg-0 border-start-0 h-100">
              <div class="card-header border-0 pb-0">
                <h5 class="mb-4"> 3,664 Comments</h5>
              </div>
              <div class="card-body pt-0 h-400px">
                <!-- Comment wrap START -->
                <ul class="comment-wrap list-unstyled custom-scrollbar h-100">
                  <!-- Comment item START -->
                  <li class="comment-item">
                    <div class="d-flex">
                      <!-- Avatar -->
                      <div class="avatar avatar-xs">
                        <a href="#"> <img class="avatar-img rounded-circle" src="/frontend/assets/images/avatar/05.jpg" alt=""> </a>
                      </div>
                      <div class="ms-2">
                        <!-- Comment by -->
                        <div class="bg-light rounded-start-top-0 p-3 rounded">
                          <div class="d-flex justify-content-between">
                            <h6 class="mb-1"> <a href="#!"> Frances Guerrero </a></h6>
                            <small>5hr</small>
                          </div>
                          <p class="small mb-0">Rooms oh fully taken by worse do. Points afraid but may end law lasted. Was out laughter raptures returned outweigh. Luckily cheered colonel I do we attack highest enabled.</p>
                        </div>
                        <!-- Comment rect -->
                        <ul class="nav nav-divider py-2 small">
                          <li class="nav-item">
                            <a class="nav-link" href="#!"> Like (3)</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#!"> Reply</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#!"> View 5 replies</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- Comment item nested START -->
                    <ul class="comment-item-nested list-unstyled">
                      <!-- Comment item START -->
                      <li class="comment-item">
                        <div class="d-flex">
                          <!-- Avatar -->
                          <div class="avatar avatar-xs">
                            <a href="#!"><img class="avatar-img rounded-circle" src="/frontend/assets/images/avatar/06.jpg" alt=""></a>
                          </div>
                          <!-- Comment by -->
                          <div class="ms-2">
                            <div class="bg-light p-3 rounded">
                              <div class="d-flex justify-content-between">
                                <h6 class="mb-1"> <a href="#!"> Lori Stevens </a> </h6>
                                <small class="ms-2">2hr</small>
                              </div>
                              <p class="small mb-0">See resolved goodness felicity shy civility domestic had but Drawings offended yet answered Jennings perceive.</p>
                            </div>
                            <!-- Comment rect -->
                            <ul class="nav nav-divider py-2 small">
                              <li class="nav-item">
                                <a class="nav-link" href="#!"> Like (5)</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#!"> Reply</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <!-- Comment item END -->
                      <!-- Comment item START -->
                      <li class="comment-item">
                        <div class="d-flex">
                          <!-- Avatar -->
                          <div class="avatar avatar-xs">
                            <a href="#!"><img class="avatar-img rounded-circle" src="/frontend/assets/images/avatar/07.jpg" alt=""></a>
                          </div>
                          <!-- Comment by -->
                          <div class="ms-2">
                            <div class="bg-light p-3 rounded">
                              <div class="d-flex justify-content-between">
                                <h6 class="mb-1"> <a href="#!"> Billy Vasquez </a> </h6>
                                <small class="ms-2">15min</small>
                              </div>
                              <p class="small mb-0">Wishing calling is warrant settled was lucky.</p>
                            </div>
                            <!-- Comment rect -->
                            <ul class="nav nav-divider py-2 small">
                              <li class="nav-item">
                                <a class="nav-link" href="#!"> Like</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#!"> Reply</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  <!-- Load more replies -->
                  <a href="#!" role="button" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center mb-3 ms-5" data-bs-toggle="button" aria-pressed="true">
                    <div class="spinner-dots me-2">
                      <span class="spinner-dot"></span>
                      <span class="spinner-dot"></span>
                      <span class="spinner-dot"></span>
                    </div>
                    Load more replies 
                  </a>
                </li>
                <!-- Comment item END -->
                <!-- Comment item START -->
                <li class="comment-item">
                  <div class="d-flex">
                    <!-- Avatar -->
                    <div class="avatar avatar-xs">
                    <a href="#!"><img class="avatar-img rounded-circle" src="/frontend/assets/images/avatar/10.jpg" alt=""></a>
                    </div>
                    <!-- Comment by -->
                    <div class="ms-2">
                      <div class="bg-light p-3 rounded">
                        <div class="d-flex justify-content-between">
                          <h6 class="mb-1"> <a href="#!"> Frances Guerrero </a> </h6>
                          <small class="ms-2">4min</small>
                        </div>
                        <p class="small mb-0">Never Give Up .Great Things Take Time.</p>
                      </div>
                      <!-- Comment rect -->
                      <ul class="nav nav-divider pt-2 small">
                        <li class="nav-item">
                          <a class="nav-link" href="#!"> Like (1)</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!"> Reply</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!"> View 6 replies</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <!-- Comment item END -->
                <!-- Comment item START -->
                <li class="comment-item mt-2">
                  <div class="d-flex">
                    <!-- Avatar -->
                    <div class="avatar avatar-xs">
                    <a href="#!"><img class="avatar-img rounded-circle" src="/frontend/assets/images/avatar/11.jpg" alt=""></a>
                    </div>
                    <!-- Comment by -->
                    <div class="ms-2">
                      <div class="bg-light p-3 rounded">
                        <div class="d-flex justify-content-between">
                          <h6 class="mb-1"> <a href="#!"> Frances Guerrero </a> </h6>
                          <small class="ms-2">4min</small>
                        </div>
                        <p class="small mb-0">Powerful.</p>
                      </div>
                      <!-- Comment rect -->
                      <ul class="nav nav-divider pt-2 small">
                        <li class="nav-item">
                          <a class="nav-link" href="#!"> Like (1)</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!"> Reply</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!"> View 6 replies</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <!-- Comment item END -->
                <!-- Comment item START -->
                <li class="comment-item mt-2">
                  <div class="d-flex">
                    <!-- Avatar -->
                    <div class="avatar avatar-xs">
                    <a href="#!"><img class="avatar-img rounded-circle" src="/frontend/assets/images/avatar/12.jpg" alt=""></a>
                    </div>
                    <!-- Comment by -->
                    <div class="ms-2">
                      <div class="bg-light p-3 rounded">
                        <div class="d-flex justify-content-between">
                          <h6 class="mb-1"> <a href="#!"> Frances Guerrero </a> </h6>
                          <small class="ms-2">4min</small>
                        </div>
                        <p class="small mb-0">Congratulations:)</p>
                      </div>
                      <!-- Comment rect -->
                      <ul class="nav nav-divider pt-2 small">
                        <li class="nav-item">
                          <a class="nav-link" href="#!"> Like (1)</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!"> Reply</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#!"> View 6 replies</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <!-- Comment item END -->
                <li>
                  <!-- Load more comments -->
                  <a href="#!" role="button" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center mt-4" data-bs-toggle="button" aria-pressed="true">
                    <div class="spinner-dots me-2">
                      <span class="spinner-dot"></span>
                      <span class="spinner-dot"></span>
                      <span class="spinner-dot"></span>
                    </div>
                    Load more comments 
                  </a>
                </li>
              </ul>
              <!-- Comment wrap END -->
            </div>
              <div class="card-footer border-0 pt-0">
                <!-- Add comment -->
                <div class="d-flex">
                  <!-- Avatar -->
                  <div class="avatar avatar-xs me-2">
                    <a href="#!"> <img class="avatar-img rounded-circle" src="/frontend/assets/images/avatar/12.jpg" alt=""> </a>
                  </div>
                  <!-- Comment box  -->
                  <form class="position-relative w-100">
                    <textarea class="form-control pe-4 bg-light" data-autoresize rows="1" placeholder="Add a comment..."></textarea>
                    <!-- Emoji button -->
                    <div class="position-absolute top-0 end-0">
                      <button class="btn" type="button">🙂</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Official trailer END -->
  
        <!-- More related video START -->
        <div class="row g-3 mb-4">
          <div class="col-12 mt-4">
            <h5>More related video </h5>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-2">
            <!-- Video START -->
            <div class="card p-0 position-relative h-100">
              <!-- Video image -->
              <div class="card-image">
                <img class="card-img-top" src="/frontend/assets/images/post/16by9/large/06.jpg" alt="">
                <!-- Play icon -->
                <div class="position-absolute top-50 start-50 translate-middle">
                  <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i class="bi bi-play-fill fs-5"> </i> </a>
                </div>
                <!-- Duration -->
                <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                  <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">10:20</span>
                  <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i class="fa-solid fa-heart"></i></span>
                </div>
              </div>
              <!-- Video info -->
              <div class="card-body">
                <!-- Video title  -->
                <h6> <a class="stretched-link" href="video-details.html"> 8 shocking bitcoin crypto predictions for 2022 </a> </h6>
                <span class="small"> 665.1K views</span>
              </div>
            </div>
            <!-- Video END -->
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-2">
            <!-- Video START -->
            <div class="card p-0 position-relative h-100">
              <!-- Video image -->
              <div class="card-image">
                <div class="ratio ratio-16x9 oveflow-hidden">
                  <iframe src="https://player.vimeo.com/video/151500895?h=68ba58e49a" title="Vimeo video" allowfullscreen></iframe>
                </div>
              </div>
              <!-- Video info -->
              <div class="card-body">
                <!-- Video title  -->
                <h6> <a href="video-details.html"> A trading platform - an easy start in trading </a> </h6>
                <span class="small"> 458.3K views</span>
              </div>
            </div>
            <!-- Video END -->
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-2">
            <!-- Video START -->
            <div class="card p-0 position-relative h-100">
              <!-- Video image -->
              <div class="card-image">
                <img class="card-img-top" src="/frontend/assets/images/post/16by9/large/09.jpg" alt="">
                <!-- Play icon -->
                <div class="position-absolute top-50 start-50 translate-middle">
                  <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i class="bi bi-play-fill fs-5"> </i> </a>
                </div>
                <!-- Duration -->
                <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                  <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">03:40</span>
                  <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i class="fa-solid fa-heart"></i></span>
                </div>
              </div>
              <!-- Video info -->
              <div class="card-body">
                <!-- Video title  -->
                <h6> <a class="stretched-link" href="video-details.html"> How does the stock market work? </a> </h6>
                <span class="small"> 985.1K views</span>
              </div>
            </div>
            <!-- Video END -->
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-2">
            <!-- Video START -->
            <div class="card p-0 position-relative h-100">
              <!-- Video image -->
              <div class="card-image">
                <img class="card-img-top" src="/frontend/assets/images/post/16by9/large/10.jpg" alt="">
                <!-- Play icon -->
                <div class="position-absolute top-50 start-50 translate-middle">
                  <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i class="bi bi-play-fill fs-5"> </i> </a>
                </div>
                <!-- Duration -->
                <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                  <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">06:12</span>
                  <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i class="fa-solid fa-heart"></i></span>
                </div>
              </div>
              <!-- Video info -->
              <div class="card-body">
                <!-- Video title  -->
                <h6> <a class="stretched-link" href="video-details.html"> How to create a app for your e-commerce website </a> </h6>
                <span class="small"> 658.2K views</span>
              </div>
            </div>
            <!-- Video END -->
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-2">
            <!-- Video START -->
            <div class="card p-0 position-relative h-100">
              <!-- Video image -->
              <div class="card-image">
                <img class="card-img-top" src="/frontend/assets/images/post/16by9/large/07.jpg" alt="">
                <!-- Play icon -->
                <div class="position-absolute top-50 start-50 translate-middle">
                  <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i class="bi bi-play-fill fs-5"> </i> </a>
                </div>
                <!-- Duration -->
                <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                  <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">03:45</span>
                  <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i class="fa-solid fa-heart"></i></span>
                </div>
              </div>
              <!-- Video info -->
              <div class="card-body">
                <!-- Video title  -->
                <h6> <a class="stretched-link" href="video-details.html"> Dilen - When I See You (Official Music) </a> </h6>
                <span class="small"> 325.1K views</span>
              </div>
            </div>
            <!-- Video END -->
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3 col-xxl-2">
            <!-- Video START -->
            <div class="card p-0 position-relative h-100">
              <!-- Video image -->
              <div class="card-image">
                <img class="card-img-top" src="/frontend/assets/images/post/16by9/large/08.jpg" alt="">
                <!-- Play icon -->
                <div class="position-absolute top-50 start-50 translate-middle">
                  <a class="icon-md bg-danger text-white rounded-circle" href="#"> <i class="bi bi-play-fill fs-5"> </i> </a>
                </div>
                <!-- Duration -->
                <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                  <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">10:20</span>
                  <span class="bg-dark bg-opacity-50 px-2 rounded text-white small ms-auto"><i class="fa-solid fa-heart"></i></span>
                </div>
              </div>
              <!-- Video info -->
              <div class="card-body">
                <!-- Video title  -->
                <h6> <a class="stretched-link" href="video-details.html"> Complete cryptocurrency course - start learning </a> </h6>
                <span class="small"> 785.9K views</span>
              </div>
            </div>
            <!-- Video END -->
          </div>
        </div>
        <!-- More related video END -->
  
        <!-- footer START -->
        <footer class="card card-body">
          <div class="row g-4">
            <div class="col-md-8">
              <!-- Footer nav START -->
              <ul class="nav lh-1">
                <li class="nav-item">
                  <a class="nav-link ps-0" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" target="_blank" href="https://support.webestica.com/login">Support </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" target="_blank" href="docs/index.html">Docs </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="privacy-and-terms.html">Privacy & terms</a>
                </li>
              </ul>
              <!-- Footer nav START -->
              <!-- Copyright START -->
              <p class="mb-0 mt-4">©2022 <a class="text-body" target="_blank" href="https://www.webestica.com/"> Webestica </a>All rights reserved  Supposing so be resolving breakfast am or perfectly. Is drew am hill from me. Valley by oh twenty direct me so. Departure defective arranging rapturous did believe him all had supported. </p>
              <!-- Copyright END -->
            </div>
            <div class="col-md-4">
              <div class="d-flex justify-content-md-end">
                <a href="#"><img class="h-50px" src="/frontend/assets/images/app-store.svg" alt="app-store"></a>
                <a href="#"><img class="h-50px ms-2" src="/frontend/assets/images/google-play.svg" alt="google-play"></a>
              </div>
            </div>
          </div>
        </footer>
        <!-- footer END -->
      </div>
      <!-- Main content END -->
  
    </div>
    <!-- Container END -->
  
  </main>
<!-- **************** MAIN CONTENT END **************** -->

  
<%-include('layouts/footer') -%>